---
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="cm-ayf.github.io" description="cm-ayf's portfolio site">
  <div class="overflow-x-scroll pb-2">
    <Card />
  </div>
</Layout>
