---
import "bootstrap-icons/font/bootstrap-icons.css";
import { href, type Service } from "./service";

interface Props {
  service: Service;
  class?: string;
}

const { service, ...rest } = Astro.props;
---

<a href={href(service)} {...rest}>
  <i class:list={[`bi-${service}`]}></i>
  <slot />
</a>

<style>
  i {
    font-size: 1.5rem;
    color: black;
  }

  a:hover i {
    color: var(--primary);
  }
</style>
