---
import "bootstrap-icons/font/bootstrap-icons.css";
import type { Service } from "./github";

interface Props {
  service: Service;
  url: string;
  class?: string;
}

const { service, url, ...rest } = Astro.props;
---

<a href={url} {...rest} target="_blank">
  <i class:list={[`bi-${service}`]}></i>
  <slot />
</a>

<style>
  i {
    font-size: 1.5rem;
    color: black;
  }

  a:hover i {
    color: var(--primary);
  }
</style>
